<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>simplyfy.Visualization.shop{{selected_shop}}</title>
</head>

<body>

    {% if forecast %}
    <h2> Visualizing sales of Product {{ selected_product }} from {{startdate}} to present:</h2>
    <div style="display:flex;">
        <div id="graph-container" style="width: 600px; height: 400px;">
            <img style="max-width: 100%; height: auto; " src="data:image/png;base64,{{ plot_data }}" alt="Forecast Plot">
        </div>
    </div>
    {% endif %}
</body>

</html>