<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>simplyfy.Visualization</title>
</head>


<body>
    <div style="display:flex;">
        {% if plot_data %}

        <div>
            <h2> Visualizing overall sales of your products :</h2>
            <div id="graph-container" style="width: 600px; height: 400px;">
                <img style="max-width: 100%; height: auto; " src="data:image/png;base64,{{ plot_data }}" alt="Forecast Plot">
            </div>
        </div>
        {% endif %}

        <div style="padding-left:100px; padding-top: 100px;">
            <h2> Visualizing shopwise sales of a product :</h2>
            <form method="post" action="/outvmpshopwise" target="_self">
                {% csrf_token %}
                <label for="selected_product">Select a product:</label>
                <select name="selected_product" id="selected_product">
			{% for product in products %}
				<option value="{{ product }}">{{ product }}</option>
			{% endfor %}
		</select>
                <br></br>
                <input type="submit" value="Submit">
            </form>
            <br></br>
            <br></br>
            <h2> Visualizing productwise sales in a shop :</h2>
            <form method="post" action="/outvmpprodwise" target="_self">
                {% csrf_token %}
                <label for="selected_shop">Select a shop_id:</label>
                <select name="selected_shop" id="selected_shop">
			{% for shop in shopids %}
				<option value="{{ shop }}">{{ shop }}</option>
			{% endfor %}
		</select>
                <br></br>
                <input type="submit" value="Submit">
            </form>
            <br></br>
            <br></br>
            <h2> Visualizing past sales of a product :</h2>
            <form method="post" action="/outvmp" target="_self">
                {% csrf_token %}
                <label for="selected_product">Select a product:</label>
                <select name="selected_product" id="selected_product">
			{% for product in products %}
				<option value="{{ product }}">{{ product }}</option>
			{% endfor %}
		</select>

                <br></br>
                <label for="startdate">Select a start date:</label>
                <input type="date" id="startdate" name="startdate">
                <br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>

</html>